body{
	margin: 0;
	direction: rtl;
}
.navbar, .slide, .slide-bottom-main-container, .footer{
	float: right;
	width: 100%;
}
.navbar{
	height: 45px;
	background-color: #111;
}
.btn{
	border: none;
	font: 16px "B Yekan";
	background-color: #8AF;
	color: #FFF;
	outline: none;
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 5px;
}
.menu-list{
	height: 45px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-list>li{
	height: 45px;
	padding: 10px 15px 10px 15px;
	float: right;
}
.menu-list>li>span,.menu-list>li>a,.dropdown-menu>li>a{
	color: #DDD;
	text-decoration: none;
	font: 16px 'B Traffic';
	cursor: pointer;
}
.menu-list>li>span:hover,.menu-list>li>a:hover,.dropdown-menu>li>a:hover{
	color: #FFF;
}
.right{
	float: right;
}
.left{
	float: left;
}
.down-arrow{
	color: #DDD;
	font-size: 10px;
}
.brand{
	float: right;
	padding: 4px 15px 0 15px;
}
.brand-name{
	float: left;
	padding-right: 4px;
}
.brand-name>a{
	font: 18px 'B Helal';
	color: #8AF;
	text-decoration: none;
}
.brand-logo{
	background-color: #8AF;
	background-image: url("http://s3.picofile.com/file/8195115742/board.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70% 70%;
	float: right;
	width: 37px;
	height: 37px;
	border-radius: 19px;
}
.dropdown-menu{
	list-style: none;
	padding: 0;
	display: none;
	background-color: #141414;
	border-top: 1px solid #252525;
	margin: 0;
	float: right;
	width: 100%;
}
.dropdown-menu-btn{
	width: 47px;
	height: 35px;
	border: none;
	float: left;
	margin: 5px;
	padding: 0;
	display: none;
	outline: none;
	background-color: #333;
	border-radius: 5px;
	cursor: pointer;
}
.dropdown-menu-btn>div{
	width: 31px;
	height: 19px;
	margin: 8px;
	background-image: url("menu.svg");
	background-size: contain;
}
.dropdown-menu>li{
	padding-right: 8%;
}
.dropdown-menu>li:not(:first-child){
	border-top: 1px solid #252525;
}
.dropdown-menu>li:not(:last-child){
	border-bottom: 1px solid #030303;
}
.slide{
	background-color: #222;
	background-image: url("http://s3.picofile.com/file/8195176168/blackboard.jpg");
	background-size: contain;
	padding: 50px 0 85px 0;
}
.slide-center-txt{
	color: #FFF;
	text-shadow: 0 0 5px #000;
	font-family: 'B Yekan';
	text-align: center;
}
.slide-center-txt>div:first-child{
	font-size: 60px;
}
.slide-center-txt>div:nth-child(2){
	font-size: 20px;
}
.description{
	text-align: justify;
	text-justify: inter-word;
	width: 50%;
	margin: auto;
}
.slide-btn{
	margin: 0 auto;
}
.slide-bottom-main-container{
	background-color: #EEE;
	background-image: url("http://s6.picofile.com/file/8195176334/pattern.png");
	height: 100px;
}
.slide-bottom-container{
	width: 1100px;
	margin: 0 auto;
}
.slide-bottom{
	height: 50px;
	padding: 25px 0 25px 0;
	list-style: none;
	margin: 0;
}
.slide-bottom-item{
	height: inherit;
	float: right;
	opacity: .9;
	cursor: pointer;
	width: 33.333%;
}
.slide-bottom-item:hover{
	opacity: 1;
}
.item-img-box{
	float: right;
	width: 50px;
	height: 50px;
}
.item-img{
	width: 40px;
	height: 40px;
	border-radius: 25px;
	background: #DDD;
	background-position: center;
	padding: 5px;
}
.item-txt{
	height: 22px;
	float: right;
	font: 14px 'B Traffic';
	color: #111;
	padding: 14px 5px;
}
.old-board{
	background-image: url("http://s3.picofile.com/file/8195176226/old_board.png");
	background-size: 95% 95%;
}
.student{
	background-image: url("student.svg");
	background-size: 120% 120%;
}
.consultor{
	background-image: url("chat.svg");
	background-size: 90% 90%;
}
.slide-bottom>div{
	width: 33.333%;
	float: right;
}
.opaque-layer{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #111;
	opacity: .9;
	z-index: 10;
	display: none;
}
.modal{
	top: 50%;
	right: 50%;
	background-color: #EEE;
	background-image: url("http://s6.picofile.com/file/8195176334/pattern.png");
	position: fixed;
	z-index: 20;
	border-radius: 10px;
	display: none;
}
.sign-in-modal{
	width: 400px;
	height: 258px;
	margin: -129px -200px 0 0;
}
.close-box{
	float: right;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	border-radius: 16px;
	background-color: #F44141;
	margin: -16px -16px 0 0;
}
.close{
	cursor: pointer;
	font-size: 32px;
	color: #FFF;
	font-weight: bold;
}
.close-tooltip{
	font: 14px 'B Yekan';
	color: #FFF;
	background-color: #8AF;
	border-radius: 3px;
	padding: 3px 6px;
	position: absolute;
	margin: 2px -105px 0 0;
	display: none;
}
.left-arrow{
	position: absolute;
	margin: 4.4% 93.4% 0 0;
	width: 0; 
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid #8AF;
}
.close-box:hover .close-tooltip{
	display: block;
}
.sign-in-form-item{
	height: 50px;
	margin: 0 5% 0 5%;
}
.sign-in-form-item:nth-child(2){
	border-top: 1px solid #FFF;
	margin: 0;
	padding: 0 5% 0 5%;
}
.label{
	float: right;
	font: 16px 'B Traffic';
	height: 24px;
	line-height: 24px;
	margin-top: 13px;
	color: #111;
}
.txt-type-input{
	outline: none;
	border: none;
	font: 14px 'B Traffic';
	padding: 5px 3px;
	height: 20px;
	color: #111;
}
.sign-in-form-item>.txt-type-input{
	float: left;
	width: 75%;
	margin-top: 10px;
}
.txt-type-input:focus{
	box-shadow: 0 0 0 1px #8AF;
}
[name=remember-me]{
	margin-top: 6px;
}
.remember-me-container{
	float: right;
	height: 24px;
}
.remember-me-txt{
	font: 14px 'B Traffic';
	color: #111;
	float: right;
	height: 24px;
	line-height: 24px;
	padding-right: 6px;
}
.space-div{
	float: left;
	width: 75%;
	height: 24px;
	margin-top: 13px;
}
.sign-in-btn{
	padding: 5px 5%;
}
.forgotten-password{
	color: #F44141;
	font: 16px 'B Traffic';
	text-decoration: none;
}
.forgotten-password:hover{
	text-decoration: underline;
}
.sign-in-form-header{
	font: 18px 'B Yekan';
	color: #111;
	padding: 5px 5% 5px 0;
	border-bottom: 1px solid #DDD;
}
.checkbox-item,.forgotten-password-item{
	height: 30px;
}
.remember-me-box,.forgotten-password-box{
	margin-top: 6px;
}
.page-main-container{
	padding: 5%;
	float: right;
	width: 90%;
}
.links-container{
	width: 40%;
	float: right;
	background-image: url("http://s6.picofile.com/file/8195176334/pattern.png");
	border-radius: 10px;
}
.links-box{
	border-radius: 0 0 10px 10px;
	font-family: B Traffic;
}
.links-box-header{
	font-size: 18px;
	background-color: #8AF;
	color: #FFF;
	height: 30px;
	padding-right: 3.5%;
}
.links-list{
	list-style: none;
	margin: 0;
	padding: 0;
}
.links-list>li{
	padding: 5px 7% 5px 0;
	font: 22px 'B Yekan';
}
.links-list>li:not(:first-child){
	border-top: 1px solid #FFF;
}
.links-list>li:not(:last-child){
	border-bottom: 1px solid #DDD;
}
.links-list:last-child>li:last-child{
	border-radius: 0 0 10px 10px;
}
.links-list:last-child>li:last-child>.view-rate-badge{
	border-radius: 0 0 0 10px;
}
.links-list>li>a{
	text-decoration: none;
	color: #444;
}
.search-box{
	height: 24px;
	padding: 13px 3% 13px 3%;
	border-radius: 10px 10px 0 0;
}
.search-txt-box{
	height: inherit;
	border-radius: 10px 10px 0 0;
	cursor: pointer;
	float: right;
}
.search-txt-icn{
	height: inherit;
	width: 24px;
	background-image: url("search.svg");
	background-repeat: no-repeat;
	float: right;
	border-radius: 0 10px 0 0;
	border: none;
	outline: none;
	background-color: transparent;
}
.search-txt{
	height: inherit;
	font: 16px 'B Traffic';
	float: right;
	border-radius: 10px 0 0 0;
	padding-right: 5px;
}
.search-input-box{
	border-radius: 10px 10px 0 0;
	height: inherit;
	display: none;
}
.search-input-close{
	float: right;
	font-size: 21px;
	width: 20px;
	text-align: center;
	color: #111;
	cursor: pointer;
	border-radius: 0 10px 0 0;
}
.search-input{
	float: right;
	height: 14px;
}
.search-input:focus{
	box-shadow: none;
}
.search-txt-icn-container{
	width: 24px;
	height: 24px;
	float: right;
	background-color: #FFF;
}
.search-txt-icn-container>.search-txt-icn{
	border-radius: 0;
	cursor: pointer;
	width: 20px;
	height: 20px;
	margin: 2px;
}
.search-input-close>.close-tooltip{
	margin: -2px -60px 0 0;
}
.search-input-close>.close-tooltip>.left-arrow{
	margin: 4px 46px 0 0;
}
.search-input-close:hover .close-tooltip{
	display: block;
}
.footer{
	height: 50px;
	background: #111;
	text-align: center;
	line-height: 50px;
	font-family: Tahoma;
	color: #DDD;
}
.articles-container{
	float: left;
	border-radius: 10px;
	width: 55%;
}
.article{
	height: auto;
	background-image: url("http://s6.picofile.com/file/8195176334/pattern.png");
	border-radius: 10px;
	font-family: B Traffic;
}
.article-header{
	height: 74px;
	border-radius: 10px 10px 0 0;
	border-bottom: 1px solid #DDD;
	padding: 0 3%;
}
.article-title{
	line-height: 41px;
	font-size: 22px;
	font-weight: bold;
	height: 41px;
}
.article-header-bottom{
	height: 33px;
	line-height: 33px;
}
.article-commit-date{
	height: inherit;
	float: right;
	font-size: 18px;
	color: #999;
}
.article-owner-box{
	height: inherit;
	float: right;
	font-size: 16px;
	padding: 0 1%;
}
.article-owner-txt{
	height: inherit;
	float: right;
}
.article-owner-name{
	height: inherit;
	padding: 5px 5px 0 0;
	float: right;
	font: 14px 'Tahoma';
}
.article-owner-name>a{
	color: #8AF;
}
.article-comments-quantity-box{
	float: right;
	height: inherit;
	cursor: pointer;
}
.right-arrow{
	position: absolute;
	margin: 4px -13px 0 0;
	width: 0; 
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid #8AF;
}
.article-comments-quantity-box>.close-tooltip{
	margin: 0 50px 0 0;
}
.article-comments-quantity-box:hover>.close-tooltip{
	display: block;
}
.article-comments-quantity-icn{
	background-image: url("bubble.svg");
	height: 27px;
	width: 27px;
	background-size: contain;
	float: right;
	margin: 3px 3px 0 0;
}
.article-comments-quantity{
	float: right;
}
.article-body{
	border-top: 1px solid #FFF;
	height: auto;
}
.article-img{
	padding: 3%;
}
.article-txt{
	padding: 0 3% 3% 3%;
}
.article-footer{
	height: 50px;
	border-radius: 0 0 10px 10px;
	padding: 0 3%;
}
.article-txt>p{
	margin: 0;
	padding: 0;
	text-align: justify;
	text-justify: inter-word;
}
.likes-container{
	float: right;
	width: 47%;
}
.more-info-btn-container{
	float: left;
	width: 47%;
}
.more-info-btn-container>.btn{
	float: left;
	padding: 3px 6px;
	font-size: 14px;
}
.likes-box{
	float: right;
	height: inherit;
	cursor: pointer;
}
.likes-box>.close-tooltip{
	margin: 0 60px 0 0;
}
.likes-box:hover>.close-tooltip{
	display: block;
}
.likes-quantity{
	float: right;
	font: 18px B Yekan;
	color: #999;
	margin-left: 1px;
}
.like-sign{
	background-image: url("heart-inactive.svg");
	background-size: contain;
	height: 25px;
	float: right;
	width: 25px;
	cursor: pointer;
}
.red{
	color: #F44141;
}
.heart-active{
	background-image: url("heart-active.svg");
}
@font-face {
    font-family: 'B Traffic’;
    src: url('fonts/B_Traffic.ttf') format('truetype'); 
}
/*--------------------------------------------------------*/
@media (max-width: 680px) {
	.links-container{
		display: none;
	}
	.articles-container{
		width: 100%;
		float: right;
	}
}
@media (max-width: 720px) {
	.menu-list{
		display: none;
	}
	.dropdown-menu-btn{
		display: block;
	}
	.navbar{
		border-bottom: 1px solid #000;
	}
	.slide{
		display: none;
	}
	.slide-bottom-main-container{
		display: none;
	}
}
@media (min-width: 720px) {
	.dropdown-menu{
		display: none !important;
	}
}
@media (max-width: 1115px) {
	.slide-bottom-container{
		width: 100%;
	}
	.item-img-box{
		display: none;
	}
}
